---
import Analytics from "../components/Analytics.astro";
import GAEventListeners from "../components/GAEventListeners.astro";
---

<!doctype html>
<html lang="en">
	<head>
    {Astro.props.noindex ? <meta name="robots" content="noindex, nofollow" /> : null}

    <Analytics />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	
  <!-- AHREFS_WEB_ANALYTICS_V1 -->
  {import.meta.env.PUBLIC_AHREFS_ANALYTICS_KEY && (
    <script
      src="https://analytics.ahrefs.com/analytics.js"
      data-key={import.meta.env.PUBLIC_AHREFS_ANALYTICS_KEY}
      async
    ></script>
  )}
  <!-- /AHREFS_WEB_ANALYTICS_V1 -->
</head>
	<body>
    <GAEventListeners />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
